# APIKEY Text File
routes/src/APIkey.txt

# test script
routes/src/Fileread.js
demo/RDSQueryDemo.js
routes/src/fsTest.js
routes/src/playlisttest.js
routes/src/playlistvideo.js
demo/SqlConnectiondemo.js
routes/src/playlistItemVideo.js

#intellij
.idea

#dotenv
.env