# APIKEY Text File
routes/src/APIkey.txt

# test script
routes/src/Fileread.js
routes/src/RDSQueryDemo.js
routes/src/fsTest.js
routes/src/playlisttest.js
routes/src/playlistvideo.js
routes/src/SqlConnectiondemo.js
routes/src/playlistItemVideo.js

#intellij
.idea